.flexBody{
    /*border: 2px solid black;*/
    height: 670px;
    margin: 5px;
    display: flex;
}

.bodyLeftPanel{
    /*border: 2px solid black;*/
    height: 655px;
    margin: 5px;
    flex-grow: 1;
    /*float: left;*/
    position:relative; 
    overflow:hidden;
}

.sortPanel{
    /*border: 2px solid black;*/
    float:left;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-size: 150px 165px; 
    background-image: url(../../Designs_and_Flow/basic_designs/closed_Sort_Tab.png);
    width: 150px;
    height: 165px;
    position: absolute;
    /*transition-property: background-size;*/
    transition-duration: 0.3s;
}

.sortBy{
    color: white;
    margin-left: 25px;
    margin-top: 10px;
    width: 75px;
    font-weight: bold;
    /*border: 2px solid black;*/
}

.sortByList{
    /*border: 2px solid black;*/
    width: 77px;
}

.clickDiv{
    /*border: 2px solid black;*/
    width: 25px;
    margin-top: -200px;
    height: 200px;
    float: right;
}

.sortByList li{
    border-bottom: 2px solid black;
    list-style: none;
    width: 100px;
    margin-top: 23px;
    margin-left: -25px;
    font-size: 17px;
    font-weight: bold;
    /*border: 2px solid black;*/
}

.reviewCont{
    /*border: 2px solid black;*/
    margin: 5px;
}

.bodyMiddlePanel{
    /*border: 2px solid black;*/
    height: 655px;
    margin: 5px;
    flex-grow: 3;
    /*float: left;*/
}

.tabTitle{
    margin-left: 13px;
}

.bodyRightPanel{
    /*border: 2px solid black;*/
    height: 655px;
    margin: 5px;
    /* this item shall fill remaining space */
    flex-grow: 1;
}

@media screen and (max-width: 415px){
    .flexBody{
        border: 2px solid black;
        height: 535px;
    }
    .bodyRightPanel{
        display: none;
    }
    .bodyLeftPanel{
        display: none;
    }

    .bodyMiddlePanel{
        border: 2px solid black;
        height: 520px;
        margin: 5px;
        flex-grow: 3;
        /*float: left;*/
    }

    .bodyBottomPanel{
        border: 2px solid black;
        height: 60px;
        margin-top: -83px;
        margin-left: 18px;
        margin-right: 18px;
    }
} 