.reviewBody{
    /*border: 2px solid black;*/
    height: 275px;
    margin: 5px;
    /*all children will flex */
    display: flex;
}

.reviewBodyLeftPanel{
    /*border: 2px solid black;*/
    height: 260px;
    margin: 5px;
    flex-grow: 1;
    /*float: left;*/
}

.leftReviewPanel{
    /*border: 2px solid black;*/
    margin: 5px;
    flex-grow: 1;
    background-color: red;
    width: 60px;
}

.rightReviewPanel{
    /*border: 2px solid black;*/
    margin: 5px;
    flex-grow: 1;
}

.reviewStatus{
    border-bottom: 2px solid black;
    margin: 5px;
    height: 60px;
    display: flex;
}

.dateTime{
    /*border: 2px solid black;*/
    flex-grow: 1;
    width: 0px;
    font-weight: bold;
    margin-top: 20px;
}

.Icon{
    /*border: 2px solid black;*/
    flex-grow: 1;
    width: 0px;
}

.commentIcon{
    float: right;
    margin-top: 10px;
}

.numOfComments{
    float: right;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 3px;
}


@media screen and (max-width: 415px){
    .reviewBody{
        border: 2px solid black;
        height: 300px;
    }

    .reviewStatus{
        height: 45px;
    }

    .leftReviewPanel{
        display: none;
    }
    .leftReviewPanelmob{
        border: 2px solid black;
        margin: 5px;
        height: 170px;
    }
}