.reviewBody{
    border: 2px solid black;
    height: 275px;
    margin: 5px;
    /*all children will flex */
    display: flex;
}

.reviewBodyLeftPanel{
    border: 2px solid black;
    height: 260px;
    margin: 5px;
    flex-grow: 1;
    /*float: left;*/
}

.reviewBody{
    border: 2px solid black;
    height: 265px;
}

.leftReviewPanel{
    border: 2px solid black;
    margin: 5px;
    flex-grow: 1;
}

.rightReviewPanel{
    border: 2px solid black;
    margin: 5px;
    flex-grow: 1;
}
.reviewStatus{
    border: 2px solid black;
    margin: 5px;
    height: 60px;
}

@media screen and (max-width: 415px){
    .reviewBody{
        border: 2px solid black;
        height: 300px;
    }

    .reviewStatus{
        height: 45px;
    }

    .leftReviewPanel{
        display: none;
    }
    .leftReviewPanelmob{
        border: 2px solid black;
        margin: 5px;
        height: 170px;
    }
}