.reviewBody{
    border: 2px solid black;
    height: 275px;
    margin: 5px;
    /*all children will flex */
    display: flex;
}

.reviewBodyLeftPanel{
    border: 2px solid black;
    height: 260px;
    margin: 5px;
    flex-shrink: 1;
    flex-grow: 1;
    /*float: left;*/
}

.reviewBodyRightPanel{
    border: 2px solid black;
    height: 260px;
    margin: 5px;
    /* this item shall fill remaining space */
    flex-grow: 1;
}