.search{
    border: 2px solid black;
    height: 62px;
    margin: 5px;
}

@media screen and (max-width: 1000px){
.search{
        border: 2px solid black;
        height: 52px;
        margin: 5px;
    }
}

@media screen and (max-width: 400px){
    .search{
            border: 2px solid black;
            height: 32px;
        }
    }