.search{
    /*border: 2px solid black;*/
    height: 10px;
    margin: 5px;
    min-height: 150px;
    overflow: hidden;
}

.SearchLog{
  /*border: 2px solid black;*/
    float: left;
}

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border-bottom: 2px solid black;
    position: relative;
    top: 12px;
    left: -14px;
    /*border: 2px solid black;*/
}

::placeholder{
    opacity: 1;
    color: black;
    font-weight: bold;
}

input:focus{
    outline: none;
}

.searchList{
    border: 2px solid black;
    width: 208px;
    margin-top: 25px;
}

.searchList li{
    list-style: none;
    border: 2px solid black;
}

@media screen and (max-width: 1000px){
.search{
        /*border: 2px solid black;*/
        height: 52px;
        margin: 5px;
    }
}

@media screen and (max-width: 415px){
    .search{
            border: 2px solid black;
            height: 32px;
        }
    }